.title h1 {
  margin: 44px 120px 42px 121px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

label {
  float: left;
  margin-left: 48px;
}

input {
  width: 504px;
  height: 56px;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  outline-color: black;
}
#valid {
  color: red;
  position: absolute;
  top: 200px;
  right: 48px;
  display: none;
}
#closebutton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 24px;
  right: 28px;
  background-color: white;
  border: none;
}

#signin {
  width: 504px;
  height: 47px;
  background: #5048e5;
  color: white;
  border-radius: 4px;
  font-size: 18px;
}

#modifyaccount {
  width: 504px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 49px 0 48px;
  margin-bottom: 60px;
}

#resetpassword {
  padding: 14px 0 0 0;
}
