.addproductbody h1 {
    position: absolute;
    color: black;
    text-align: left;
    width: 430px;
    height: 44px;
    left: 390px;
    top: 8vh;
}

.addproductbody {
    background-color: #e5e5e5;
}

.addbody {
    position: absolute;
    background-color: white;
    width: 660px;
    height: 70vh;
    left: 390px;
    top: 16vh;
    overflow-y: scroll;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

#product-name input,
#description input {
    width: 564px;
    height: 56px;
}

#price input,
#category select {
    width: 278px;
    height: 56px;
}

#category select {
    position: absolute;
    margin-top: 8px;
    margin-left: -130px;
}

.catandprice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imageandqty {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#price,
#category {
    width: 278px;
    align-items: cen;
}

#qty input {
    width: 196px;
    height: 56px;
}

#imglink input {
    width: 357px;
    height: 56px;
}

.imageshow {
    background: #ffffff;
    border: 1px dashed #cccccc;
    box-sizing: border-box;
    border-radius: 4px;
    width: 388px;
    height: 200px;
    justify-content: center;
    margin-left: 150px;
}

#submit {
    width: 133px;
    height: 40px;
    background: #5048e5;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: -400px;
    color: white;
    font-size: 18px;
}

.imageshow img {
    width: 200px;
    height: 150px;
}